@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Lato:wght@400;700&family=Roboto+Slab:wght@400;500&family=Ubuntu:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #f1f1f1;
}

h1,
h2{
  font-family: 'Ubuntu';
}

p,
button{
  font-family: 'Roboto Slab';
}

a{
  text-decoration: none;
}

.white{
  color: #fff;
}

.hero-section{
  background: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  height: 31rem;
  display: flex;
  justify-content: center;
}

.hero-section > div{
  text-align: center;
  padding: 4rem 0 0 0;
}

.heading{
  font-size: 6rem;
  font-weight: 700;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero-section > div > p,
.button1{
  letter-spacing: .08rem;
}

.button1{
  background-color: transparent;
  width: 13rem;
  height: 2.8rem;
  border: .2rem solid #fff;
  font-weight: light;
  font-size: 1rem;
  transition: background .3s ease-in-out;
}

.hero-section button:hover{
  background: #fff;
  color: #000;
  cursor: pointer;
}

.btn-div1{
  padding: 10rem 0 0 0;
}

/* ABOUT SECTION */

#about{
  background: #fcfcfc;
  height: 48rem;
  position: relative;
  padding: 5rem 0 0 0;
}
.about{
  width: 18%;
  margin: 0 auto 4rem auto;
  padding-bottom: .4rem;
  text-align: center;
  font-weight: 400;
  font-size: 2.8rem;
  border-bottom: .2rem solid #bdbdbd;
}
#about > div > p{
  width: 50%;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 5rem;
}

.img-offset{
  position: absolute;
  left: 0;
  right: 0;
  top: 30rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.img-offset img{
  width: 12rem;
  height: 26rem;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

/* PRODUCTS SECTION */

#products{
  padding-top: 15rem;
  padding-bottom: 10rem;
}

/* CATEGORY SECTION */
.category-title{
  padding: 1rem 0 4rem 0;
}
.category-title h2{
  width: 10.5rem;
  margin: 0 auto;
  padding-bottom: .2rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  border-bottom: .2rem solid #bdbdbd;

}
.category-1,
.category-2{
  display: flex;
  width: 100%;
  margin: 0 auto 1.5rem auto;
  background: #fff2e9;
}

.category-2{
  background: # !important;
}

.item-1,
.item-2{
  width: 65%;
  padding: 4rem 0 0 2rem;
}

.image-1,
.image-2{
  width: 35%;
  height: 25rem;
}

.image-1 img,
.image-2 img{
  width: 100%;
  height: 100%;
}

.item-1 h2,
.item-2 h2{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4.5rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.item-description{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.btn-div2{
  display: flex;
  justify-content: flex-end;
}
.btn-div2{
  width: 60%;
  margin: 0 auto;
}
.button2,
.button3{
  background-color: transparent;
  width: 11rem;
  height: 2.8rem;
  border: .2rem solid #ffd3ab;
  font-weight: light;
  font-size: 1rem;
  color: #000;
  transition: background .3s ease-in-out;
  display: flex;
  justify-content: space-between;
  padding: 0 1.8rem;
}

.button3{
  border: .2rem solid #968776;
}

.button2:hover,
.button3:hover{
  background: #ffd3ab;
  color: #000;
  cursor: pointer;
}

.button3:hover{
  background: #968776 !important;
}

.button2 img,
.button3 img{
  padding-top: .2rem;
  width: 2rem;
}