<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/order.css">
  <title>Document</title>
</head>
<body>
  <section class="main-section">
    <section class="order-details">
      <h2>Order Details</h2>
      <div class="detail-box">
        <div class="quantity">
          <h4>Total Quantity</h4>
          <p>7</p>
        </div>
        <div class="v-line"></div>
        <div class="cost">
          <h4>Total Cost</h4>
          <p>₦31,000</p>
        </div>
      </div>
    </section>
  
    <section class="shipping">
      <h2>Shipping Details</h2>
      <form action="">
        <div class="input-main">
          <div class="input-div">
            <img src="../../static/images/user.svg" alt="">
            <input type="text" name="" id="" placeholder="Name" required>
          </div>
          <div class="input-div">
            <img src="../../static/images/email.svg" alt="">
            <input type="email" name="" id="" placeholder="Email" required>
          </div>
        </div>

        <div class="input-main">
          <div class="input-div">
            <img src="../../static/images/location.svg" alt="">
            <input type="text" name="" id="" placeholder="Address" required>
          </div>
          <div class="input-div">
            <img src="../../static/images/phone.svg" alt="">
            <input type="email" name="" id="" placeholder="Phone Number" required>
          </div>
        </div>
        <div class="btn-submit">
          <button type="submit">Submit Details</button>
        </div>
      </form>
    </section>

    <div class="payment">
      <div class="btn-payment">
        <button type="submit">Make Payment</button>
      </div>
  
      <div class="payment-options">
        <img src="../../static/images/paystack-badge 1(1).svg" alt="">
      </div>
    </div>
  </section>
</body>
</html>