{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <!-- Will be added shortly -->
    </nav>
  </header>

  <div class="hero-section">
    <div>
      <h1 class="heading white header-font">Bakers Point</h1>
      <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="btn-div1">
        <a href=""><button class="white button1">Take a Tour</button></a>
      </div>
    </div>
  </div>

  <section id="about">
    <div>
      <h1 class="about light-header">ABOUT US</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga impedit modi vel vitae eveniet odio eum reiciendis veniam. Quidem deleniti non animi ipsum debitis, vero reprehenderit numquam porro repellendus? Cum? Lorem ipsum dolor sit amet dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cum dolor dolorem quos, quae aliquid, libero no </p>
    </div>

    <div class="img-offset">
      <img src="../static/images/bread.png" alt="Baked Bread">
      <img src="../static/images/store.png" alt="Store Door">
      <img src="../static/images/cup-cake.png" alt="Cup Cake">
    </div>
  </section>

  <section id="top-products">
    <h1 class="light-header top-product-header">Top Products</h1>

    <div class="top-product-item">
      <div>
        <img src="../static/images/chin-chin 1.png" alt="">
      
        <div>
          <span>chin-chin</span>
          <span>&#8358; 1000</span>
        </div>
      </div>
      <div>
        <img src="../static/images/chin-chin 1.png" alt="">
      
        <div>
          <span>chin-chin</span>
          <span>&#8358; 1000</span>
        </div>
      </div>
      <div>
        <img src="../static/images/chin-chin 1.png" alt="">
      
        <div>
          <span>chin-chin</span>
          <span>&#8358; 1000</span>
        </div>
      </div>
      <div>
        <img src="../static/images/chin-chin 1.png" alt="">
      
        <div>
          <span>chin-chin</span>
          <span>&#8358; 1000</span>
        </div>
      </div>
      <div>
        <img src="../static/images/chin-chin 1.png" alt="">
      
        <div>
          <span>chin-chin</span>
          <span>&#8358; 1000</span>
        </div>
      </div>
      <div>
        <img src="../static/images/chin-chin 1.png" alt="">
      
        <div>
          <span>chin-chin</span>
          <span>&#8358; 1000</span>
        </div>
      </div>
      <div>
        <img src="../static/images/chin-chin 1.png" alt="">
      
        <div>
          <span>chin-chin</span>
          <span>&#8358; 1000</span>
        </div>
      </div>
    </div>
  </section>

  <section id="bakery-menu">
    <div class="bakery-menu-title">
      <h2 class="border-h2">Bakery Menu</h2>
    </div>

    <div class="bakery-menu-cake bakery-menu bakery-menu-reverse">
      <div class="item-1">
        <h2>Cakes</h2>
        <p class="item-description">This is why I am telling you that you need more cake, but this is a demo, thank you. I hope you understand, thank you, you're welcome.</p>
        <div class="btn-div2">
          <a href="">
            <button class="menu-button button-cake">
              <p style="align-items: center; display: flex;">View</p>
              <img src="../../static/images/arrow-right.svg" alt="">
            </button>
          </a>
        </div>
      </div>
      <div class="image-1">
        <img src="../../static/images/full-cake.png" alt="Chocolate & Vanilla Cake">
      </div>
    </div>

    <div class="bakery-menu-cookies bakery-menu bakery-menu-none-reverse">
      <div class="image-2">
        <img src="../../static/images/cookies.png" alt="Cookies">
      </div>
      <div class="item-2">
        <h2>Cookies</h2>
        <p class="item-description">This is why I am telling you that you need more cookies, but this is a demo, thank you. I hope you understand, thank you, you're welcome.</p>
        <div class="btn-div2">
          <a href="">
            <button class="menu-button button-cookies">
              <p style="align-items: center; display: flex;">View</p>
              <img src="../../static/images/arrow-right.svg" alt="">
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="bakery-menu-chin-chin bakery-menu bakery-menu-reverse">
      
      <div class="item-2">
        <h2>Chin-Chin</h2>
        <p class="item-description">This is why I am telling you that you need more cookies, but this is a demo, thank you. I hope you understand, thank you, you're welcome.</p>
        <div class="btn-div2">
          <a href="">
            <button class="menu-button button-chin-chin">
              <p style="align-items: center; display: flex;">View</p>
              <img src="../../static/images/arrow-right.svg" alt="">
            </button>
          </a>
        </div>
      </div>
      <div class="image-2">
        <img src="../../static/images/chin-chin-hello 1.png" alt="Cookies">
      </div>
    </div>
  </section>

  <section class="our-story">
    <div>
      <img src="../static/images/store.png" alt="">
    </div>
    <div>
      <p>From the south East of nigeria  in the middle 2000’s 
        Bakerspoint was first form when a the founder Nkiru
        Ezekwem started producing cup cakes.... </p>
      <div>
        <h2 class="border-h2 ">Our Story</h2>
      </div>
    </div>
  </section>

  <section class="customers-reviews">
    <h1 class="light-header ">Customer Reviews</h1>

    <div>
      <div class="customer-reviews-card bc-white">
        <div>
          <img src="../static/images/reviews.png" alt="">
          <div>
            <h2>Chima okechukwu</h2>
            <div>
              <img class="review-stars" src="../static/images/star.svg" alt="">
              <img class="review-stars"  src="../static/images/star.svg" alt="">
              <img class="review-stars" src="../static/images/star.svg" alt="">
              <img class="review-stars" src="../static/images/star.svg" alt="">
            </div>
          </div>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Eum aspernatur asperiores, odio ea saepe, delectus dignissimos 
            pariatur harum natus tempore perferendis animi qui ad
          </p>
        </div>
  
      </div>
      <div class="customer-reviews-card bc-white">
        <div>
          <img src="../static/images/reviews.png" alt="">
          <div>
            <h2>Chima okechukwu</h2>
            <div>
              <img class="review-stars" src="../static/images/star.svg" alt="">
              <img class="review-stars"  src="../static/images/star.svg" alt="">
              <img class="review-stars" src="../static/images/star.svg" alt="">
              <img class="review-stars" src="../static/images/star.svg" alt="">
            </div>
          </div>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Eum aspernatur asperiores, odio ea saepe, delectus dignissimos 
            pariatur harum natus tempore perferendis animi qui ad
          </p>
        </div>
  
      </div>
      <div class="customer-reviews-card bc-white">
        <div>
          <img src="../static/images/reviews.png" alt="">
          <div>
            <h2>Chima okechukwu</h2>
            <div>
              <img class="review-stars" src="../static/images/star.svg" alt="">
              <img class="review-stars"  src="../static/images/star.svg" alt="">
              <img class="review-stars" src="../static/images/star.svg" alt="">
              <img class="review-stars" src="../static/images/star.svg" alt="">
            </div>
          </div>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Eum aspernatur asperiores, odio ea saepe, delectus dignissimos 
            pariatur harum natus tempore perferendis animi qui ad
          </p>
        </div>
  
      </div>
    </div>
  </section>

  <section class="other">
    <div class="bc-white special other-box">
      <div><img src="../static/images/discount.svg" alt=""></div>
      <h2>SPECIAL REQUEST</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Natus a corporis fugit quasi repellat, consequatur cum distinctio 
        officia doloribus temporibus sed vel, nam velit hic</p>
        <div class="other-button">
          contact
        </div>
    </div>
    <div class="bc-white other-box">
      <h2 class="other-box-h2-border">PROMOTION</h2>
      <p>if you would like to get notified durings our
        sales and special event, subscribe to our newsletter</p>
      <form action="" method="post">
        {% csrf_token %}
        <input type="email">
        <input type="submit" value="SUBSCRIBE">
      </form>
    </div>
  </section>
  <br>
  <br>
  <footer>
    <div class="footer-line" ></div>
    <div class="footer-content">
      <div>
        <div class="footer-content-head-section">
          <div class="footer-content-header"><h4>navigator</h4></div> 
          <span ><img name="footer-img" src="../static/images/right-arrow-svgrepo-com(1).svg" alt=""></span>
        </div>
        <div class="footer-content-p no-display-min" name="footer-dropdown">
          <p>Sign Up</p>
          <p>Blog</p>
          <p>Products</p>
        </div>
      </div>
      <div>
        <div class="footer-content-head-section">
          <div class="footer-content-header"><h4>Help</h4></div> 
          <span ><img name="footer-img" src="../static/images/right-arrow-svgrepo-com(1).svg" alt=""></span>
        </div>
        <div class="footer-content-p no-display-min" name="footer-dropdown">
          <p>Ordering</p>
          <p>Payments</p>
          <p>Delivery</p>
        </div>
      </div>
      <div>
        <div class="footer-content-head-section">
          <div class="footer-content-header"><h4>Socials</h4></div> 
          <span ><img name="footer-img" src="../static/images/right-arrow-svgrepo-com(1).svg"  alt=""></span>
        </div>
        <div class="footer-content-p no-display-min" name="footer-dropdown">
          <p>E-mail</p>
          <p>Instagram</p>
          <p>Whatsapp</p>
        </div>
      </div>
    </div>
    <section class="footer-bottom">
      <div>copyrights 2015-2022</div>
      <div>Developed by winterdevelopers</div>
    </section>
  </footer>

  <script src="{% static 'js/sctipt.js' %}"></script>
</body>
</html>