<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
  </head>
<section class="order-section">
    <h2>cart</h2>
    <div class="order-line"></div>
    <div class="order-content">
        <section class="order-content-section">
            <div>
                <img src="../static/images/cup-cake.png" alt="" srcset="">
            </div>
            <div>
                <h2>
                    &#8358; 15,000
                </h2>
                <h4>cake muchines</h4>
                <p>1KG</p>
                <div class="order-quantity">
                    <div class="order-button">
                        &#8722;
                    </div>
                    <div class="order-item-qty">
                        3
                    </div>
                    <div class="order-button">
                        &#43;
                    </div>
                </div>
            </div>
        </section>
        <section class="order-content-section">
            <div>
                <img src="../static/images/bread.png" alt="" srcset="">
            </div>
            <div>
                <h2>
                    &#8358; 15,000
                </h2>
                <h4>Nigerian Bread</h4>
                <p>1KG</p>
                <div class="order-quantity">
                    <div class="order-button">
                        &#8722;
                    </div>
                    <div class="order-item-qty">
                        30
                    </div>
                    <div class="order-button">
                        &#43;
                    </div>
                </div>
            </div>
        </section>
        <section class="order-content-section">
            <div>
                <img src="../static/images/chin-chin 1.png" alt="" srcset="">
            </div>
            <div>
                <h2>
                    &#8358; 15,000
                </h2>
                <h4>Nigerian chin-chin</h4>
                <p>1KG</p>
                <div class="order-quantity">
                    <div class="order-button">
                        &#8722;
                    </div>
                    <div class="order-item-qty">
                        30
                    </div>
                    <div class="order-button">
                        &#43;
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="order-line"></div>
    <section class="cart-summary">
        <div class="cart-total">
            total: &#8358; 24,000
        </div>
        <div class="cart-confirm">
            confirm order
        </div>
    </section>
</section>