<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
  </head>
  <section>
    <div class="product-container">
        <div>
            <img src="../static/images/chococake.jpg" alt="">
        </div>
        <div class="product-info">
            <div class="product-header">
                <div>
                    <h1>Chocolate</h1>
                </div>
                <div style="text-align:right; margin-top: 1rem; padding-right:10%">
                    <h6>&#8358; 2,500</h6>
                </div>
            </div>
            <div class="order-line"></div>
            <div class="star-ratings">
                <img class="review-stars" src="../static/images/star.svg" alt="">
                <img class="review-stars"  src="../static/images/star.svg" alt="">
                <img class="review-stars" src="../static/images/star.svg" alt="">
                <img class="review-stars" src="../static/images/star.svg" alt="">
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat placeat ratione nulla obcaecati aperiam odit labore! Aperiam hic beatae nisi nostrum maiores, similique perferendis praesentium laborum fugiat magni. Pariatur, sequi!
            </p>
            <div class="product-weight">
                weight : 1kg
            </div>
        </div>
    </div>
    <div class="add-cart-qty">
        <div class="product-qty">
            <span>
                &#8722;
            </span>
            <span style="background-color:white; padding: 0.3rem; color: black;">
                1
            </span>
            <span>
                &#43;
            </span>
        </div>
        <div class="add-cart-btn">
            add to cart
        </div>
    </div>
    <div class="order-line"></div>
    <section class="customers-reviews">
        <h1 class="light-header ">Reviews</h1>
    
        <div>
          <div class="customer-reviews-card bc-white">
            <div>
              <img src="../static/images/reviews.png" alt="">
              <div>
                <h2>Chima okechukwu</h2>
                <div>
                  <img class="review-stars" src="../static/images/star.svg" alt="">
                  <img class="review-stars"  src="../static/images/star.svg" alt="">
                  <img class="review-stars" src="../static/images/star.svg" alt="">
                  <img class="review-stars" src="../static/images/star.svg" alt="">
                </div>
              </div>
            </div>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Eum aspernatur asperiores, odio ea saepe, delectus dignissimos 
                pariatur harum natus tempore
              </p>
            </div>
      
          </div>
          <div class="customer-reviews-card bc-white">
            <div>
              <img src="../static/images/reviews.png" alt="">
              <div>
                <h2>Chima okechukwu</h2>
                <div>
                  <img class="review-stars" src="../static/images/star.svg" alt="">
                  <img class="review-stars"  src="../static/images/star.svg" alt="">
                  <img class="review-stars" src="../static/images/star.svg" alt="">
                  <img class="review-stars" src="../static/images/star.svg" alt="">
                </div>
              </div>
            </div>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Eum aspernatur asperiores, odio ea saepe, delectus dignissimos 
                pariatur harum natus tempore 
              </p>
            </div>
      
          </div>
          <div class="customer-reviews-card bc-white">
            <div>
              <img src="../static/images/reviews.png" alt="">
              <div>
                <h2>Chima okechukwu</h2>
                <div>
                  <img class="review-stars" src="../static/images/star.svg" alt="">
                  <img class="review-stars"  src="../static/images/star.svg" alt="">
                  <img class="review-stars" src="../static/images/star.svg" alt="">
                  <img class="review-stars" src="../static/images/star.svg" alt="">
                </div>
              </div>
            </div>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Eum aspernatur asperiores, odio ea saepe, delectus dignissimos 
                pariatur harum natus tempore 
              </p>
            </div>
      
          </div>
        </div>
      </section>
    <section>
        <div class="related-products">
            <h2>Related Products</h2>
        </div>
    </section>
  </section>