<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/product.css">
  <link rel="stylesheet" href="../../static/css/style.css">
  <!-- <link rel="stylesheet" href="../../static/css/style.css"> -->
  <title>Product Detail</title>
</head>
<body>
  <section class="cookie">
    <div class="cookie-flex">
      <div class="img-div">
        <img src="../../static/images/cookies.png" alt="">
      </div>
      <div class="text-div">
        <!-- Add background -->
        <h2>Cookies</h2>
        <p>
          The is why i am telling you that you need  more cakebut this is a demo thank you, i hope you understand
          thank you are welcome. her we have differnet time of cookies that you would love you can make your chioce !!! from these heavenly made cookies
        </p>
      </div>
    </div>
    
    <div class="product-display">
      <div class="line"></div>
      
      <div class="product-main">
        <div class="product-card">
          <div>
            <img src="../../static/images/shakti-rajpurohit-qczubsyHofQ-unsplash(1).png" alt="">
          </div>
          <div class="product-text">
            <h4>Chocolate</h4>
            <h6>500g</h6>
            <p>₦1000</p>
          </div>
        </div>

        <div class="product-card">
          <div>
            <img src="../../static/images/shakti-rajpurohit-qczubsyHofQ-unsplash(1).png" alt="">
          </div>
          <div class="product-text">
            <h4>Chocolate</h4>
            <h6>500g</h6>
            <p>₦1000</p>
          </div>
        </div>

        <div class="product-card">
          <div>
            <img src="../../static/images/shakti-rajpurohit-qczubsyHofQ-unsplash(1).png" alt="">
          </div>
          <div class="product-text">
            <h4>Chocolate</h4>
            <h6>500g</h6>
            <p>₦1000</p>
          </div>
        </div>

        <div class="scroll-div">
          <div class="scroll">
            <button><img src="../../static/images/arrow-left.svg" alt=""></button>
            <h4>1</h4>
            <button><img src="../../static/images/arrow-right.svg" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</body>
</html>