@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Lato:wght@400;700&family=Roboto+Slab:wght@400;500&family=Ubuntu:wght@300;400;500&display=swap');

:root{
  --font-color-dark:rgb(7, 7, 7);
  --light-border-color:rgb(255, 227, 176);
  --dark-border-color:rgb(138, 106, 50);
  --grey-line-color:rgb(168, 168, 168);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #fcfcfc;
}

h1,h4,
h2{
  font-family: 'Ubuntu';
}

p,
button{
  font-family: 'Roboto Slab';
}

a{
  text-decoration: none;
}

.white{
  color: #fff;
}
.bc-white{
  background-color: white;
}

.hero-section{
  background: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  height: 31rem;
  display: flex;
  justify-content: center;
}

.hero-section > div{
  text-align: center;
  padding: 4rem 0 0 0;
}

.heading{
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.hero-section > div > p,
.button1{
  letter-spacing: .08rem;
}

.button1{
  background-color: transparent;
  width: 13rem;
  height: 2.8rem;
  border: .2rem solid #fff;
  font-weight: light;
  font-size: 1rem;
  transition: background .3s ease-in-out;
}

.hero-section button:hover{
  background: #fff;
  color: #000;
  cursor: pointer;
}

.btn-div1{
  padding: 10rem 0 0 0;
}

/* ABOUT SECTION */

#about{
  position: relative;
  padding: 5rem 0 0 0;
}
.light-header{
  font-weight: 200;
  font-size: 2rem;
}
.about{
  width: 25vw;
  margin:0 auto;
  text-align: center;
  border-bottom: .2rem solid var(--grey-line-color);
}
#about > div > p{
  width: 50vw;
  margin: 0 auto;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.8rem;
  padding-bottom: 5rem;
  padding-top: 3rem;
}

.img-offset{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.img-offset img{
  width: 12rem;
  height: 26rem;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

/* PRODUCTS SECTION */

#top-products{
  padding: 10rem 0;
  margin-left: 5vw;
}
.top-product-header{
  padding-bottom: 5rem;
}
.top-product-item{
  overflow-x: auto;
  width: 85vw;
  margin-left: 1.5vw;
  display: flex; 
}
.top-product-item>div{
  margin-right: 5rem;
}
.top-product-item img{
  width:12rem;height: 12rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  
}
.top-product-item>div>div{
  width: 12rem;
  display: flex;
  justify-content: space-between;
}

/* BAKERY MENU SECTION */
.bakery-menu-title{
  padding: 1rem 0 4rem 0;
}
.border-h2{
  width: 15.5rem;
  margin: 0 auto;
  padding-bottom: .2rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  border-bottom: .2rem solid #bdbdbd;

}

.bakery-menu{
  display: flex;
  width: 100%;
  margin: 0 auto 1.5rem auto;
}
.bakery-menu-cake{
  background: #fff2e9;
}

.bakery-menu-cookies{
  background: rgba(217, 195, 169, 1);
}
.bakery-menu-chin-chin{
  background-color: #FFF7D9;
}

.item-1,
.item-2{
  width: 55%;
  padding: 4rem 0 0 2rem;
}

.image-1,
.image-2{
  width: 45%;height: 30rem;
  object-fit: cover;
}

.image-1 img,
.image-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-1 h2,
.item-2 h2{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4.5rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.item-description{
  inline-size: 50%;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.btn-div2{
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin: 2rem auto;
}

.menu-button{
  background-color: transparent;
  width: 8rem;
  height: 2.8rem; 
  font-weight: light;
  font-size: 1rem;
  color: #000;
  transition: background .3s ease-in-out;
  display: flex;
  justify-content: space-between;
  padding: 8px 1.8rem;
}
.button-cake{
  border: .2rem solid #ffd3ab;
}
.button-cookies{
  border: .2rem solid rgba(150, 135, 118, 1);
}
.button-chin-chin{
  border:  .2rem solid #E2D5A8;
}


.button-cake:hover{
  background: #ffd3ab !important;
  color: #000;
  cursor: pointer;
}

.button-cookies:hover{
  background: #968776 !important;
  cursor: pointer;
}

.button-chin-chin:hover{
  background-color: #E2D5A8 !important;
  cursor: pointer;
}

.button-cake img,
.button-cookies img,
.button-chin-chin img{
  padding-top: .2rem;
  width: 1rem;
}
/* OUR STORY */
.our-story{
  width: 50vw; margin: 0  auto;
  display: flex;justify-content: space-between;
  margin-top: 8rem;
}
.our-story img{
  width: 20vw; height: 20vw;

}
.our-story p{
  inline-size: 23vw;
  margin: 3rem auto;
  font-size: smaller;
  letter-spacing: .1rem;
}
.our-story h2{
  font-size: 1.5rem;
  letter-spacing: .08rem;
  width: 10rem;
  transition: border 0.3s;
}
.our-story h2:hover{
  border: .1rem solid var(--grey-line-color);
  cursor: pointer;
}

.customers-reviews{
  margin-left: 5vw;
  padding-top: 10rem;
}
.customers-reviews>div{
  display: flex;
  justify-content: space-between;
  overflow-x:scroll;width:90vw;height: 22rem;
  gap:1rem; padding-right: 1rem;

  
}
.customers-reviews h1{
  margin-bottom: 5rem;

}
.customers-reviews p{
  margin: 2rem auto;
  font-size: small; inline-size: 15rem;
  font-weight: 100; letter-spacing: .1rem;
  text-align: left;
}
.customer-reviews-card{
  width: 20rem;height: 20rem;
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgba(31, 31, 31, 0.267);
}
.customer-reviews-card h2{
  margin: 1.5rem 0; font-size: medium;


}
.customer-reviews-card>div> img{
  width: 7rem;height: 7rem;
  
}
.customer-reviews-card>div{
  display: flex;
  justify-content: space-between;
  width: 20rem;
  text-align: center;
  margin-right: 1rem;
}
.customer-reviews-card>div> div{
  margin-right: 1rem;
  width: 11rem;
}
.review-stars{
  margin-right: 1rem;
}
.other{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 10vw auto;
}
.other-box{
  width:35vw;
  padding: 3.5vw;
}
.other-box>div:first-child{
  margin:1rem auto;
  margin-bottom:3rem;
  width: 7vw;
}
.other-box img{
  width: 7vw;
}
.other-box h2{
  text-align: center;
  font-weight: 300;
  margin-bottom: 2rem;
}
.other-box p{
  font-size: smaller;
  inline-size: 28vw;
  margin: 0px auto; letter-spacing: 0.05rem;
  margin-bottom: 2.2rem;
}
.other-button{
  background-color: #000;
  padding: .7rem;
  color: white;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
}
.other-box-h2-border{
  border-bottom:solid .1rem black ;
  width: 10rem;
  margin:0 auto;
  margin-bottom: 2rem;
}
.other-box form{
  width:28vw; margin: 0 auto;
}
.other-box input[type="email"]{
  width: 28vw;height:2.8rem;
  border: solid 0.1rem var(--light-border-color);
  margin-bottom: 3rem;
}
.other-box input[type="submit"]{
  width: 28vw;height:2.8rem;
  background-color: #000;
  color: white;border: 0;
}

.footer-line{
  width: 95vw;height:.2rem;
  position: relative;
  top:-2px;margin: 0 auto;
  background-color: var(--dark-border-color);

}
footer{
  width: 100vw;
}
.footer-content{
  width: 80vw;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: auto auto auto;
  
}
.footer-content>div{
  width: 6rem;
  margin: 0 auto;
}
.footer-content h4{
  text-transform: uppercase;
  font-weight: 100;
  border-bottom: solid var(--light-border-color) 0.18rem;
  inline-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.footer-content-p{
  display: block;

}
.footer-content-p>p{
  font-size:small;
  font-weight: 100;
  margin-bottom: 1rem;
}
.footer-content img{
  display: none;
}
.footer-bottom div{
  font-size: smaller;
  font-weight: 100;
  text-align: center;
  font-family: 'Roboto Slab';
  color: #6d6d6d;
}
/*////////////////////////////////////*/
@media only screen and (max-width:600px){
  .hero-section{
    height: 100vh;
    width: 100vw;
  }
  .about{
    padding: 0.1rem;
    inline-size: 40vw;
  }
  .light-header{
    font-size: 1.5rem;
  }
  #about >div>p{
    width: 80vw;
  }
  .img-offset img{
    width: 25vw;
    height: 18rem;
  }
  #top-products{
   padding: 6rem 0;
  }
  .bakery-menu-reverse{
    flex-direction:column-reverse;
  }
  .bakery-menu-none-reverse{
    flex-direction: column;
  }
  .image-1,.image-2{
    width: 100vw;
  }
  .item-1,.item-2{
    width: 90%;
    padding: 4rem auto;
  }
  .item-description{
    inline-size: 80%;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
  .other{
    display: grid;
    grid-template-columns: auto;
  }
  .other-box{
    width: 80vw;
    margin-bottom: 5rem;
    padding: 5vw;
  }
  .other-box p{
    inline-size: 60vw;
  }
  .other-box form{
    width:70vw; margin: 0 auto;
  }
  .other-box input[type="email"],.other-box input[type="submit"]{
    width: 70vw;height:2.8rem;
  }
  .other-box>div:first-child{
    width: 10vw;
  }
  .other-box img{
    width: 10vw;
  }
  .our-story{
    width: 90vw;
  }
  .our-story img{
    width: 40vw; height: 40vw;
  
  }
  .our-story p{
    inline-size: 45vw;
    margin-top: 1rem;
  }
  .footer-content{
    grid-template-columns: auto;
  }
  .footer-content img{
    width: .9rem;
    display: inline;
  }
  .footer-content-head-section{
    display: flex;
    margin-left: -20vw;
    z-index: -2;
    padding: .5rem;
  }
  .footer-content span{
    margin:0 auto;
    margin-left: 45vw;
    width: 10rem;
  }
  .footer-content-header{
    width: 20rem;
  }
  .rotate-90{
    rotate:90deg;
    animation-duration: 0.3s;
    animation-name: rotating-to-90;
    animation-timing-function: linear;
  }
  @keyframes rotating-to-90 {
    from{rotate: 0deg;}
    to{rotate:90deg}
  }
  .reverse-rotate-90{
    rotate:0deg;
    animation-duration: 0.3s;
    animation-name: reverse-rotating-to-90;
    animation-timing-function: linear;
  }
  @keyframes reverse-rotating-to-90 {
    from{rotate: 90deg;}
    to{rotate:0deg}
  }
  .no-display-min-animate{
    opacity: 0;
    height: 0px;
    animation-name: footer-dropdown;
    animation-timing-function: linear;
    animation-duration: 0.2s;
  }
  @keyframes footer-dropdown {
    from{height: 100px;} to{height: 0px;}
  }
  .no-display-min-animate p{
    font-size:small;
    font-weight: 50;
    margin-bottom: 1rem;
  }
  .no-display-min{
    opacity: 0;
    height: 0px;
  }

  .footer-content-p-animate p{
    margin-bottom: 1rem;
    font-size:small;
    font-weight: 100;
    margin-bottom: 1rem;
  }
  .footer-content-p-animate{
    opacity:1;
    height: 100px;
    animation-name: footer-pullup;
    animation-timing-function: linear;
    animation-duration: 0.2s;
  }
  
  @keyframes footer-dropdown {
    from{height: 100px;} to{height: 0px;}
  }
  @keyframes footer-pullup {
    from{height: 0px;opacity:0;} to{height: 100px;opacity:1;}
  }
  .top-product-item{
    overflow-x: auto;
    width: 85vw;
    margin-left: 1.2vw;
    display: flex; 
  }
  .top-product-item>div{
    margin-right: 2rem;
  }
}